html, body, #root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  min-width: 100%;
  max-width: 100%;
}

html {
  -webkit-background-image: linear-gradient(to bottom, #ff9c00, #91212e);
  -moz-background-image: linear-gradient(to bottom, #ff9c00, #91212e);
  background-image: linear-gradient(to bottom, #ff9c00, #91212e)
}

@font-face {
  font-family: 'SF-Pro-Display-Bold';
  src: url('./assets/fonts/SF-Pro-Display-Bold.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-Heavy';
  src: url('./assets/fonts/SF-Pro-Display-Heavy.otf');
}

@font-face {
  font-family: 'SF-Pro-Display-Bold';
  src: url('./assets/fonts/SF-Pro-Display-Regular.otf');
}

@font-face {
  font-family: 'SF-Pro-Text-Bold';
  src: url('./assets/fonts/SF-Pro-Text-Bold.otf');
}

@font-face {
  font-family: 'SF-Pro-Text-Light';
  src: url('./assets/fonts/SF-Pro-Text-Light.otf');
}